.listActors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  color: #686262;
}

.actorCard {
  margin: 10px;
  width: 150px;
  min-height: 210px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgb(12 11 11 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.castImg {
  height: 150px;
  margin-left: 5px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
