.title {
  padding: 6px;
  margin: 0;
  color: rgb(209, 72, 186);
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  line-height: 1.55;
  background-color: rgb(68, 66, 66);
}

/* MovieDetailsPage */

.movieDetailsPage {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  color: #686262;
}

.imgDetails {
  display: block;
  max-width: 100%;
  height: auto;
}
.movieDescription {
  display: inline-block;
}

.list {
  text-align: start;
}

.listDescription:not(:last-child) {
  margin-bottom: 20px;
}

.titleMovie {
  text-align: start;
  font-size: 34px;
}
.text {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.release {
  font-size: 20px;
}

.overview {
  font-size: 22px;
}
.description {
  font-size: 28px;
  font-weight: 600;

  color: #727677;
}

.description:not(:last-child) {
  margin-right: 30px;
}
.activeLink {
  color: #ee53b3;
}

.navContainer {
  padding-left: 40px;
}
